body{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: center;
  color:#AE7C78;

}


.menu ul {
    margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 1em;
  }
  
  .menu a {
    color:#AE7C78;
  }

  header {
    position: absolute;
    width: 1440px;
    height: 608px;
    left: 0px;
    top: 26px;
  }
  .piter {
    position: absolute;
width: 384px;
height: 118px;
left: 120px;
top: 171px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
text-align: left;
  }

  .svezh {
    position: absolute;
width: 384px;
height: 58px;
left: 120px;
top: 313px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: left;
  }

  .img1 {
    position: absolute;
width: 386px;
height: 404px;
left: 527px;
top: 230px;
  }

  .img2 {
    position: absolute;
width: 387px;
height: 420px;
left: 933px;
top: 172px;
  }

  .smotr-cat {
    

position: absolute;    
width: 285px;
height: 80px;
left: 120px;
top: 435px;
    background: #D89999;
border-radius: 40px;
  }

.smotr-cat a {

width: 146px;
height: 20px;
left: 190px;
top: 465px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
vertical-align: top;

color: #FFFFFF;
  }

  
  .prim1{
    position: absolute;
width: 285px;
height: 40px;
left: 222px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: left;
vertical-align: top;

  }

  .prim2 {
    position: absolute;
width: 285px;
height: 80px;
left: 628px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: left;
vertical-align: top;
  }

  .prim3 {
    position: absolute;
width: 285px;
height: 60px;
left: 1035px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: left;
vertical-align: top;
  }

.map {
  position: absolute;
width: 1440px;
height: 644.1px;
left: 0px;
top: 3729px;
}

.info {
  position: absolute;
width: 386px;
height: 520px;
left: 222px;
top: 3781px;

background: #F7FAFC;
box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
border-radius: 12px;

}

.info ul {
  list-style: none;
  text-align: left;
}

.futer-menu {
  margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;

    position: absolute;
width: 1440px;
height: 97px;
left: 0px;
top: 4373px;

background: #AE7C78;
}

.futer-menu li {
  display: inline-block;
  margin-right: 1em;

  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: center;

}

.futer-menu a {
  color: #FFFFFF;
}

.pop {
  position: absolute;
  width: 794px;
height: 546px;
left: 323px;
top: 870px;
}

.pop1 {
  position: absolute;
  width: 228px;
  height: 29px;
  left: 323px;
  top: 981px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}
.pop2 {
  position: absolute;
width: 387px;
height: 40px;
left: 323px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: left;
}

.pop3 {
  position: absolute;
width: 85px;
height: 20px;
left: 324px;
top: 1094px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

text-align: left;
}

.popc {
  position: absolute;
width: 118px;
height: 29px;
left: 324px;
top: 1138px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

text-align: left;
}

.zak {
    
  position: absolute;
width: 285px;
height: 80px;
left: 324px;
top: 1231px;

background: #D89999;
border-radius: 40px;
    }
  
  .zak a {
    
width: 73px;
height: 20px;
left: 429px;
top: 1261px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
vertical-align: top;

color: #FFFFFF;
}

.img3 {
  position: absolute;
width: 387px;
height: 438px;
left: 730px;
top: 954px;

}

.razd {
  position: absolute;
width: 1200px;
height: 442px;
left: 120px;
top: 1496px;
}

.razd ul {
  margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
}


.razd h1 {
  font-family: Playfair Display;
font-style: normal;
font-weight: bold;
  color: #FFFFFF;

  align-items: center;
text-align: center;

}

.razd p {
  font-family: Playfair Display;
font-style: normal;
  color: #FFFFFF;
}

.razd li {
display: inline-block;
width: 387px;
height: 442px;

top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;
vertical-align: top;
}

.skidka {
  position: absolute;
width: 1200px;
height: 391px;
left: 120px;
top: 2018px;
background: #AE7C78;
}

.skidka h1 {
  width: 488px;
height: 118px;
left: 222px;
top: 2058px;

  font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
letter-spacing: 0.02em;

text-align: left;
vertical-align: top;

  color: #FFFFFF;
}

.skidka p {
 
width: 387px;
height: 145px;
left: 222px;
top: 2200px;

  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

text-align: left;
vertical-align: top;

  color: #FFFFFF;
}

.img4 {
  
  position: absolute;
  width: 590px;
  height: 391px;
  left: 730px;
  top: 2018px;
  
}

.shag {

  position: absolute;
  width: 1200px;
  height: 232px;
  left: 120px;
  top: 2489px;
  

}

.shag ul {
  
  list-style: none;
  margin: 0;
    margin-left: 0;
    padding: 0;
    
    
}

.shag li {
 
  
  display: inline-block;
  margin-right: 1em;
  width: 260px;
  
}



.shag h2 {


font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
font-style: medium;
}

.shag p {
  
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
font-style: normal;
}

.otz {
  position: absolute;
width: 1200px;
height: 308px;
left: 120px;
top: 3341px;

border: 1px solid #AE7C78
}

.otz ul {
  list-style: none;
  margin: 0;
    margin-left: 0;
    padding: 0;
}

.otz li {
  display: inline-block;
  margin-right: 1em;
}

.otz h2 {
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
font-style: medium;
}

.otz p {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
font-style: normal;
}

.nov {
 
width: 1200px;
height: 460px;
left: 120px;
top: 2801px;

}

.nov h1 {
  position: absolute;
width: 487px;
height: 96px;
left: 120px;
top: 2871px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.02em;

text-align: left;
vertical-align: top;

}

.nov p {
  position: absolute;
width: 387px;
height: 87px;
left: 120px;
top: 3007px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

text-align: left;
vertical-align: top;
}

.nov div {
  position: absolute;
width: 96.76px;
height: 20px;
left: 120px;
top: 3134px;
}

.img5 {

position: absolute;
width: 285px;
height: 220px;
left: 628px;
top: 2801px;
}

.img6 {
  position: absolute;
  width: 285px;
  height: 220px;
  left: 628px;
  top: 3041px;
}

.img7 {
  position: absolute;
  width: 387px;
  height: 460px;
  left: 933px;
  top: 2801px;
}